.heads{
  margin-top: 30px;
  padding: 10px;
  height: 60px;
  background-color: rgb(253, 253, 253);
  display: flex;
  justify-content: center;
  align-content: center;
  border-radius: 10px;
  font-size: 30px;
}

.margintop{
  margin-top: 60px;
}

.nomargin{
  margin: 0;
}