.sqaureTL{
    height:400px;
    width: 400px;
    background-color: black;
    color: aliceblue;
    display: flex;
    border-radius: 25px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    right: 20vw;
    bottom:1vh;
  }
  .sqaureBL{
    height:400px;
    width: 400px;
    background-color: black;
    color: aliceblue;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    right: 20vw;
    top:1vh;
  }
  .sqaureTR{
    height:400px;
    width: 400px;
    background-color: black;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 25px;
    position: absolute;
    left: 20vw;
    bottom:1vh;
  }
  .sqaureBR{
    height:400px;
    width: 400px;
    background-color: black;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 25px;
    position: absolute;
    left: 20vw;
    top:1vh;
  }